.pricing-title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  padding-top: 20px;
}

.pricing-p {
  font-size: 22px;
  font-weight: 100;
  line-height: 30px;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pricing-table {
  width: 900px;
  margin: 0 auto;
}

.blue-btn {
  margin: 0 auto;
  background-color: #3e85c6;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
  font-weight: 100;
}
